<section *ngIf="(questRestante == 0); else elseBlock">
    {{ point }} / {{ maxPointPotential }}
</section>
<ng-template #elseBlock>
<section >
<p>{{ data[this.actuelQuestIndex].label }}</p>
<label><input type="checkbox" [(ngModel)]="this.selectionedQuest[0]">{{ this.data[this.actuelQuestIndex].answers[0].label }}</label>
<label><input type="checkbox" [(ngModel)]="this.selectionedQuest[1]">{{ this.data[this.actuelQuestIndex].answers[1].label }}</label>
<label><input type="checkbox" [(ngModel)]="this.selectionedQuest[2]">{{ this.data[this.actuelQuestIndex].answers[2].label }}</label>
<label><input type="checkbox" [(ngModel)]="this.selectionedQuest[3]">{{ this.data[this.actuelQuestIndex].answers[3].label }}</label>

<button (click)="nextQuestion()">Prochaine question</button>
</section>
</ng-template>