h1{
    font-size : 4rem ;
    color: #000000;
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    padding: 30px;
}

.ligne{
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: wrap ;
}


.infoIR {
    width: 320px; 
    height: 370px;
    margin: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgba(242, 255, 0, 0.4);
}

.infoInf {
    width: 300px; 
    height: 400px;
    margin: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgb(111, 234, 100, 0.4);
}

.titre {
    width:100%;
    border-bottom: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;
}

.contenu {
    padding: 20px;
    line-height: 1.4em;
}

h2{
    font-size:20px;
}