@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:host {
    background-color: #e60000; /* Fond global rouge très clair pastel */
}

.info {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #c7ecc7; /* Fond vert pastel pour la classe "info" */
}

.titre {
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contenu {
    box-sizing: border-box;
    line-height: 25px;
    width: 100%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 20px;
}
