<!-- NAVBAR -->
<section>
  <a (click)="this.routageService.changePage('home')" >
    <picture>
      <img  src="https://assets.ovcrkazov.fr/images/logo.png" />
    </picture>
  </a>
  <ul>
    <li (click)="this.routageService.changePage('home')">Accueil</li>
    <li (click)="this.routageService.changePage('questionnaire')">Questionnaire</li>
    <li (click)="this.routageService.changePage('infos')">Infos</li>
    <li (click)="this.routageService.changePage('planet')">Test 404</li>
  </ul>
</section>

<!-- Corps de la page -->
<span [ngSwitch]="this.obser | async">
<div *ngSwitchCase="'home'">
  <app-home></app-home>
</div>
<div *ngSwitchCase="'questionnaire'">
  <app-questionnaire></app-questionnaire>
</div>
<div *ngSwitchCase="'infos'">
  <app-infos></app-infos>
</div>
<div *ngSwitchCase="'planet'">
  <app-planet></app-planet>
</div>
<div *ngSwitchCase="'tetris'">
  <app-tetris></app-tetris>
</div>
</span>
