<div id="body">
    <section id="page">
    <section id="Instructions">
        <h2><strong>Instructions</strong></h2>
        <br>
        <p> - Utilisez les flèches pour déplacer les pièces.</p>
        <br>
            <p>- Utilisez <strong>Q</strong> et <strong>D</strong> pour tourner les pièces.</p>
            <br>
            <p> - Utilisez <strong>flèche du bas</strong> pour accélérer la descente des pièces.</p>
    </section>
    <section id="game">
        <section #infos id="infos">
            <div #score id="score"></div>
            <div #levels id="levels">Level 1</div>
        </section>
        <canvas #tetris id="tetris" width="240" height="400" ></canvas>
    </section>
    <section #error id="error">
        <h2><strong>Error 404</strong></h2>
        <br>
        <p>Il semblerait que la page que vous cherchez n'existe pas.</p>
        <p>Autant dire que vous êtes mal tombé.</p>
        <br>
        <p>Finissez cette partie de Tetris maintenant</p>
    </section>
    </section>
</div>
