<section id="page">
  <section id="Instructions">
      <h2>Instructions</h2>
      <p>Tournez le trinomino avec Q et D </p>
      <p>Déplacez le trinomino avec les flèches gauche et droite</p>
      <p>Accélérez la chute du trinomino avec la flèche bas</p>
  </section>
  <section id="game">
      <section #infos>
          <div #score></div>
          <div #levels>Level 1</div>
      </section>
      <canvas #tetris width="240" height="400" ></canvas>
  </section>
  <section #error>
      <h2>Error 404</h2>
      <p>Il semblerait que la page que vous cherchez n'existe pas.</p>
      <p>Autant dire que vous êtes mal tombé.</p>
      <p>Finissez cette partie de Tetris maintenant</p>
  </section>
</section>
