<section id="first-page">
    <div class="img-shadow">
        <div id="main-title">
            <img (click)="this.routage.changePage('planet')" src="https://assets.ovcrkazov.fr/images/earth.png" />
            <h1>Changements Climatiques : Réalités et Défis Planétaires</h1>
        </div>
        <button type="button" (click)="this.routage.changePage('questionnaire')">
            Testez vos connaissances 
            <picture>
                <img src="/assets/fleche.svg" />
            </picture>
        </button>   
    </div>
</section>
<app-compteur></app-compteur>
